h1{
    text-align: center;
    margin-top: 50px;
}

.btn_btn-danger{
 text-align: center;
 color: white;
 background-color: transparent;
 border: 1px solid white;
 padding: 10px 20px;
 margin: 0 10px;
 cursor: pointer;
}
 